.gdpr--show {
  transform: translateY(-45vh);

  @include tablet {
    transform: translateY(-60vh);
  }

  @include mobile {
    transform: translateY(-60vh);
  }
}

#gdpr {
  $width: 75vw;

  display: flex;
  flex-direction: column;
  position: fixed;
  width: $width;
  height: 33vh;
  bottom: -10vh;
  left: calc(50% - #{$width} / 2);
  z-index: 12;

  background: var(--gdpr-background);
  font-family: $font-header;
  color: var(--color-main);
  border-radius: 0.5em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 1rem;

  transition: transform 0.5s ease-in-out;

  a {
    color: var(--color-link);
  }
}

.body--darkened {
  // applies to body
  position: relative;

  &::before {
    content: "";
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }
}

.gdpr-header {
  grid-area: header;

  h4 {
    font-size: 0.65rem;
    font-weight: 400;
  }

  margin-bottom: 0.6em;
}

.gdpr-info {
  p {
    font-size: 0.75rem;

    & + p {
      margin-top: 0.45em;
      margin-bottom: 0.45em;
    }
  }
}

.gdpr-allowence {
  align-self: center;
  margin-top: 0.45em;
  .buttons {
    button {
      font-size: 0.75rem;
      margin-left: 1em;
      padding: 0.3em;
    }
  }
}

@include tablet {
  #gdpr {
    left: 0;
    bottom: -60vh;
    width: 100vw;
    height: auto;
    max-height: 60vh;

    padding-bottom: 1.5vh;
    border-radius: 45px 45px 0 0;
  }

  .gdpr-allowence {
    align-self: center;
  }
}

@include mobile {
  #gdpr {
    left: 0;
    bottom: -60vh;
    width: 100vw;
    height: auto;
    max-height: 60vh;

    padding-bottom: 1.5vh;
    border-radius: 0;
  }

  .gdpr-allowence {
    align-self: center;
  }
}
