variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:

- script: |
    az storage blob upload-batch --account-name $(AZURE_STORAGE_ACCOUNT) --account-key $(AZURE_STORAGE_KEY) -s ./CNAME -d '$(DESTINATION)'
  displayName: 'Put files to Storage Blob Container'


