variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- task: CacheBeta@1
  inputs:
    key: 'npm | "$(Agent.OS)" | package-lock.json'
    path: '$(npm_config_cache)'
    restoreKeys: 'npm | "$(Agent.OS)"'

- script: npm ci

- script: |
    npm run build
  displayName: 'npm install and build'

- script: |
    az storage blob upload-batch -s ./public/. -d '$(DESTINATION)'
  displayName: 'Put files to Storage Blob Container'


