variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: 'Pay-As-You-Go (ef7fec7f-59c8-46f3-8fd6-b66cbd0a1205)'
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: Write-Host "Hello, World!";
    arguments: $env:AZURE_STORAGE_ACCOUNT $env:AZURE_STORAGE_KEY $env:DESTINATION