---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
---

<div class="small-projects-block">
  <h2>
    projects
  </h2>
  <div class="projects">
    <ul>
      <li>
        <a href="https://www.uzbekistananalytics.com/">uzbekistan analytics</a>
        - services for Uzbekistanis</li>
      <li>
        <a href="https://www.npmjs.com/package/gdpr-person-generator">gdpr person generator</a>
        - an npm package</li>
    </ul>
  </div>
</div>
{% set maxPosts = collections.allMyContent.length | min(3) %}
<h2>latest
  {% if maxPosts == 1 %}Post
  {% else %}
    {{ maxPosts }} posts{% endif %}
</h2>
{% set postslist = collections.allMyContent | head(-3) %}
{% set postslistCounter = collections.allMyContent | length %}
{% include "postslist.njk" %}
<div>More posts can be found in
  <a href="{{ '/archive/' | url }}">the archive</a>.</div>