$up-button-offset: 2vw;
$up-button-size: 5vw;

.up-button {
  position: fixed;
  bottom: $up-button-offset;
  right: $up-button-offset;
  transition: all 0.25s ease-in-out;

  width: $up-button-size;
  height: $up-button-size;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;

  .up-button-icon {
    fill: var(--icon-fill-main);
  }

  @include mobile {
    width: $up-button-size * 2.75;
    height: $up-button-size * 2.75;
    bottom: $up-button-offset * 3;
    right: $up-button-offset * 3;
  }
}

.up-button--hidden {
  transform: scale(0);
}