$themes: (

  'light': (
    // layout
    background-main: linear-gradient(315deg, hsl(0, 0%, 100%) 0%, #d7e1ec 74%),
    nav-mobile-background: rgb(255, 255, 255),
    nav-color: gray,
    nav-active-color: black,
    nav-posts-mobile-bg: lightcyan,
    // gdpr
    gdpr-background: rgb(245, 245, 245),
    // typography
    color-main: black,
    color-secondary: rgb(19, 19, 19),
    color-link: gray,
    color-link-hover: brightness(350%),
    //borders
    border-header: 3px solid rgba(19, 19, 19, 0.55),
    border-section: 1px solid rgba(0, 0, 0, 0.25),
    // icons
    icon-fill-main: rgb(36, 36, 36),
    icon-fill-secondary: gray,
    // article
    blockquote-bg: lightgray,
    blockquote-border: rgba(19, 19, 19, 0.5),
    // article tags
    tag-bg: lightcyan,
    color-tag: #808080,
    arrow-bg: #d7e1ec  
  ), 
  
  'dark': (
    // layout
    background-main: rgb(29, 31, 33),
    nav-mobile-background: rgb(15, 15, 15),
    nav-color: white,
    nav-active-color: #e9d66b,
    nav-posts-mobile-bg: rgb(19, 19, 19),
    // gdpr
    gdpr-background: rgb(35, 37, 39),
    // typography
    color-main: white,
    color-secondary: rgb(211,211,211),
    color-link: rgba(43, 154, 74, 0.75),
    color-link-hover: brightness(150%),
    //borders
    border-header: 3px solid rgba(250, 250, 250, 0.55),
    border-section: 1px solid rgba(250, 250, 250, 0.25),
    // icons
    icon-fill-main: white,
    icon-fill-secondary: gray,
    // article
    blockquote-bg: rgb(19, 19, 19),
    blockquote-border: lightgray,
    // article tags
    tag-bg: rgb(57, 59, 61),
    color-tag: #C0C0C0,
    arrow-bg: rgb(29, 31, 33)
  )   

);

@each $theme, $map in $themes {
  :root[data-theme=#{$theme}] {
    @each $property, $value in $map {
      --#{$property}: #{$value};
    }
  }
}