$themes: (

  'light': (
    // layout
    background-main: linear-gradient(315deg, hsl(0, 0%, 100%) 0%, #d7e1ec 74%),
    nav-mobile-background: rgb(255, 255, 255),
    nav-color: gray,
    nav-active-color: black,
    // gdpr
    gdpr-background: rgb(245, 245, 245),
    // typography
    color-main: black,
    color-link: gray,
    color-link-hover: brightness(350%),
    //borders
    border-section: 1px solid rgba(0, 0, 0, 0.25),
    // icons
    icon-fill-main: black  
  ), 
  
  'dark': (
    // layout
    background-main: rgb(29, 31, 33),
    nav-mobile-background: rgb(15, 15, 15),
    nav-color: white,
    nav-active-color: #e9d66b,
    // gdpr
    gdpr-background: rgb(35, 37, 39),
    // typography
    color-main: white,
    color-link: rgba(43, 154, 74, 0.75),
    color-link-hover: brightness(150%),
    //borders
    border-section: 1px solid rgba(250, 250, 250, 0.25),
    // icons
    icon-fill-main: white  
  )   

);

@each $theme, $map in $themes {
  :root[data-theme=#{$theme}] {
    @each $property, $value in $map {
      --#{$property}: #{$value};
    }
  }
}