@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

$font-header: "Montserrat", sans-serif;
$font-content: "Share Tech Mono", monospace;

:root {
  font-size: calc(10px + 1vmax);
}