#layout-main {
  width: 100vw;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  background: var(--background-main);

  display: grid;
  grid-template-areas:
    ". header ."
    ". content ."
    ". footer .";
  grid-template-columns: 1fr 27.5rem 1fr; // 30rem
  grid-template-rows: 10vh auto 8vh;
  grid-row-gap: 3rem;

  header {
    grid-area: header;
  }

  main {
    grid-area: content;
  }

  footer {
    grid-area: footer;
  }
}

@include mobile {
  #layout-main {
    

    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5vh auto 10vh;

  }
}
