#page-404 {

  #layout-main {
    grid-row-gap: 1rem;
  }
  
  main {
    grid-row-gap: 0;
  }

  h2, p, a {
    font-family: $font-header;
    color: var(--color-main);
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
  }

  a {
    color: var(--color-link);

    &:hover {
      filter: var(--color-link-hover);
    }
  }

  .page-404-illustration {
    margin: 1rem 0;
  }

}