#about-page {

  #layout-main {
    grid-row-gap: 1.5rem;
  }

  article {
    font-family: $font-content;
    font-weight: 400;
    text-align: justify;    

    h1 {
      margin-bottom: 0.5em;
      color: var(--color-main);
    }
    
    p {
      line-height: 1.2em;
      color: var(--color-secondary);

      & + p {
        margin-bottom: 0.4em;
      }
    }

    a {
      color: var(--color-link);

      &:hover {
        filter: var(--color-link-hover);
      }
    }
  }
  
}