#about-page {
  #layout-main {
    grid-row-gap: 1.5rem;
  }

  article {
    font-family: $font-content;

    h1 {
      margin-bottom: 0.5em;
      font-size: 1.5rem;
      color: var(--color-main);
      font-family: $font-header;
    }

    p {
      line-height: 1.2em;
      font-size: 0.8rem;
      color: var(--color-secondary);

      & + p {
        margin-bottom: 0.4em;
      }
    }

    a {
      color: var(--color-link);

      &:hover {
        filter: var(--color-link-hover);
      }
    }
  }
}
