main {
  grid-area: posts;
  display: grid;
  grid-auto-rows: fit-content(100%);
  grid-row-gap: 1rem;

  .post {
    display: grid;
    grid-column-gap: 1em;
    grid-auto-columns: fit-content(100%) fit-content(100%);
    font-family: $font-content;
    font-size: 0.75rem;
    color: var(--color-main);


    @include tablet {
      font-size: 1.25rem;
    }

    @include mobile {
      font-size: 1.05rem;
    }

    time {
      grid-column: 1 / span 1;
      align-self: start;
      user-select: none;
      align-self: start;
      font-family: $font-dotted;
      font-size: 1em;
    }

    a {
      grid-column: 2 / span 1;
      align-self: start;
      color: var(--color-link);

      &:hover {
        filter: var(--color-link-hover);
      }
    }
  }
}
