#blog-post {
  #layout-main {
    padding-top: 5vh;
    grid-row-gap: 5vh;

    .socials {
      display: none;
    }
  }

  // posts navigation

  .nav-posts {
    $icon-size: 2rem;

    position: fixed;
    top: 2.5vh;
    right: 2.5vw;
    height: 6rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .nav-empty {
      fill: var(--icon-fill-secondary);
    }

    a {
      height: $icon-size;
      width: $icon-size;
    }

    svg {
      height: $icon-size;
      width: $icon-size;
      fill: var(--icon-fill-main);
      transition: transform 0.2s ease;

      &:active {
        transform: scale(0.75);
      }
    }
  }

  //

  main {
    border-top: var(--border-section);
    padding-top: 5vh;
    
  }

  // blog-title
  .header {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 0.25rem;

    padding-left: 0.75rem;
    border-left: var(--border-header);

    time {
      font-family: $font-header;
      font-size: 0.65rem;
      color: var(--color-secondary);
    }

    h1 {
      font-family: $font-header;
      font-size: 1.65rem;
      font-weight: 500;
      color: var(--color-main);
    }

    h2 {
      font-family: $font-header;
      font-size: 0.7rem;
      color: var(--color-secondary);
      align-self: center;
    }

    .keywords {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      font-family: $font-content;
      user-select: none;

      // tag styling
      span {
        $size: 1.05rem;

        font-size: 0.6 * $size;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 400;
        background: var(--tag-bg);
        border-radius: 3px 0 0 3px;
        color: var(--color-tag);
        display: inline-block;
        height: $size;
        line-height: $size;
        padding: 0 (0.45 * $size) 0 $size;
        margin: 0.25em ($size * 0.5 + 0.5rem) 0.25em 0;
        position: relative;
        text-decoration: none;

        &::before {
          background: var(--background-main);
          border-radius: 15px;
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
          content: "";
          left: 0.4 * $size;
          position: absolute;
          width: 0.24 * $size;
          height: 0.24 * $size;
          top: calc(50% - 0.12 * #{$size});
        }

        /* &::after {
          background: var(--arrow-bg);
          border-bottom: (0.52 * $size) solid transparent;
          border-left: (0.52 * $size) solid var(--tag-bg);
          border-top: (0.52 * $size) solid transparent;
          content: '';
          position: absolute;
          right: 0;
          top: 0;
        } */

        &::after {
          content: "";
          position: absolute;
          right: -$size * 0.5;
          top: 0;
          background: var(--tag-bg);
          width: $size * 0.5;
          height: $size;
          clip-path: polygon(0 100%, 0 0, 100% 50%);
        }

        /* & + span {
          margin-left: 0.4em;
        } */
      }
    }
  }

  // code blocks
  .gatsby-highlight {
    max-width: 100%;
  }

  pre {
    font-size: 0.75rem;
    border-radius: 5px;
    background: #212326;

    // scrollbar
    &::-webkit-scrollbar {
      height: 7.5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  // article text
  article {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 0.75em;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;

    font-family: $font-content;
    font-size: 0.75rem;
    text-align: justify;
    color: var(--color-main);

    p {
      line-height: 1.2em;
      color: var(--color-secondary);
    }

    ol {
      padding-left: 0.6em;
      display: grid;
      grid-auto-rows: auto;
      grid-row-gap: 0.5em;
      list-style-position: inside;
    }

    blockquote {
      text-indent: 1em;
      text-align: center;
      font-style: italic;
      position: relative;
      padding: 1em 1em 1em 1.4em;
      // background: var(--blockquote-bg);
      font-size: 0.5rem;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0.4em;
        background: var(--blockquote-border);
      }
    }

    a {
      color: var(--color-link);

      &:hover {
        color: var(--color-link-hover);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: $font-header;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.9rem;
    }

    h5 {
      font-size: 0.8rem;
    }

    img {
      border-radius: 10px;
    }

    h4 {
      color: var(--color-main);
      font-weight: 600;
      font-size: 0.9rem;

      &:not(:first-child) {
        margin-top: 0.75em;
      }

      &::before {
        content: "ยง";
        color: var(--color-link);
        margin-right: 0.25em;
      }
    }

    a {
      color: var(--color-link);
    }
  }
}

@include mobile {
  #blog-post {
    #layout-main {
      padding-top: 7.5vh;
      grid-row-gap: 0.75rem;
    }

    .nav-posts {
      position: sticky;
      top: 0;
      left: 0;

      height: 3rem;
      border-radius: 25px;
      width: 45%;
      background: var(--nav-posts-mobile-bg);
      box-shadow: 0 12px 38px rgba(0, 0, 0, 0.3),
        0 10px 12px rgba(0, 0, 0, 0.22);
      flex-flow: row nowrap;
      z-index: 5;

      justify-self: center;
    }

    .header {
      h1 {
        font-size: 1.6rem;
      }

      h2 {
        font-size: 0.9rem;
      }
    }

    main {
      border-top: none;
      padding-top: 0;
    }

    article {
      font-size: 0.95rem;

      h4 {
        filter: brightness(0.85);
        padding-top: 0.5rem;
        font-size: 1.25rem;

        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
  }
}
