#no-posts-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;

  svg {
    fill: var(--icon-fill-main);
    width: 2rem;
  }

  p {
    font-family: $font-header;
    font-size: 0.8rem;
    color: var(--color-main);
    text-align: center;
  }
}
