header {
  display: grid;
  grid-template-areas:
    "logo title"
    "logo links";
  grid-template-columns: 10vh 5fr;
  grid-template-rows: 5vh 5vh;
  grid-column-gap: 20px;

  .logo {
    grid-area: logo;
    align-self: center;
    fill: var(--icon-fill-main);
    width: 100%;
    height: 100%;
    cursor: help;
  }

  h1 {
    grid-area: title;
    align-self: center;
    font-family: $font-header;
    font-size: 1.3rem;
    text-transform: uppercase;
    user-select: none;

    @include tablet {
      font-size: 2rem;
    }
    
    a {
      text-decoration: none;
      color: var(--color-main);
    }
    
  }

  nav {
    grid-area: links;
    align-self: center;
    justify-self: start;

    a {
      font-family: $font-header;
      font-size: 0.95rem;
      color: var(--color-link);
      text-decoration: none;
      user-select: none;

      @include tablet {
        font-size: 1.5rem;
      }
  
      &:hover {
        filter: var(--color-link-hover);
      }

      & + a {
        margin-left: 0.25em;

        &::before {
          content: "|";
          opacity: 0.75;
          margin-right: 0.25em;
        }
      }

    }
  }

}

@include mobile {

  .header-mobile--hidden {
    transform: scaleY(0);
  }

  header {
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 5vh 5vh;
    grid-column-gap: 12.5px;
    transform-origin: 50% 0%;
    transition: transform 0.25s ease;

    padding: 1vh 2.5vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    z-index: 10;

    background: var(--nav-mobile-background);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.22);

    .logo {
      height: 65%;
      width: 90%;
      justify-self: end;
      align-self: center;
    }

    h1 {
      font-size: 1.35rem;
      align-self: end;
    }

    nav {
      align-self: start;

      a {
        font-size: 1.1rem;
      }      
    }
  }  

}