.socials {
  $icon-size: 0.9rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icon-size;
    height: $icon-size;

    & + a {
      margin-left: 0.2rem;
    }

    svg {
      fill: var(--icon-fill-main);
      width: $icon-size;
      height: $icon-size;
    }
  }
}

@include mobile {
  $icon-size: 1.4rem;

  .socials {
    a {
      width: $icon-size;
      height: $icon-size;

      svg {
        width: $icon-size;
        height: $icon-size;
      }
    }
  }
}
