/* footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright,
  .links {
    font-family: $font-header;
    font-size: 0.55rem;
    color: var(--color-main);    
  }

} */

footer {
  display: grid;
  grid-template-areas:
    "socials socials"
    "copyright language";
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 4vh 4vh;

  .copyright,
  .language {
    font-family: $font-header;
    font-size: 0.55rem;
    color: var(--color-main);  
  }

  .copyright {
    grid-area: copyright;
  }

  .language {
    justify-self: end;
    grid-area: language;
  }

  .socials {
    grid-area: socials;
  }

}

@include mobile {

  footer {

    .copyright {
      display: flex;
      flex-flow: column;
      font-size: 0.75rem;
    }

    .language {
      font-size: 0.75rem;
    }

  }

}