---
layout: layouts/base.njk
templateClass: tmpl-about
---

<h1>{{ title }}</h1>
{{ content | safe }}
<h2>my students / mentees about me</h2>
{% set postslist = collections.endorsements %}
{% include "postslist.njk" %}
