<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}"> {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #} <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta
    name="theme-color" content="#ffffff"> <!-- favicon:end -->
    <meta property="og:url" content="{{ page.url | toAbsoluteUrl }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta
    property="og:image" content=" {{ './img/og-blog-image.svg' | toAbsoluteUrl }}"/>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MGM0KF7K9V"></script>
    <script type="text/plain" cookie-consent="tracking">
      window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date());
      gtag('config', 'G-MGM0KF7K9V');
    </script>
    <!-- Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
    <script
      type="text/javascript"
      src="//www.freeprivacypolicy.com/public/cookie-consent/4.0.0/cookie-consent.js"
      charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
      document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({
          "notice_banner_type": "simple",
          "consent_type": "express",
          "palette": "light",
          "language": "en",
          "page_load_consent_levels": ["strictly-necessary"],
          "notice_banner_reject_button_hide": false,
          "preferences_center_close_button_hide": false,
          "page_refresh_confirmation_buttons": false,
          "website_name": "www.normuradov.com"
        });
      });
    </script>
    <noscript>Cookie Consent by
      <a href="https://www.freeprivacypolicy.com/" rel="noopener">Free Privacy Policy Generator</a>
    </noscript>
    <!-- End Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
    <link href="{{ '/css/likely.min.css' | url }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1 class="home">
        <a href="{{ '/' | url }}">[n]</a>
      </h1>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </header>
    <main {% if templateClass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}
    </main>
    <footer>
      <!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify the ID
      parameter. Place it where appropriate, style it as needed. -->
      <a href="#" id="open_preferences_center">update cookies preferences</a>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
  <script src="{{ '/js/likely.min.js' | url }}" type="text/javascript"></script>
</html>